.background {
    background-color: blanchedalmond;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  /* background-attachment: fixed;  */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  inset: 0;
  z-index: -1;
}

.memo-box {
    width: 200px;
    height: 200px;
    background-color: rgb(226, 218, 103);
    margin: 1rem; 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    position: relative;
}

.memo-box > button {
    border-radius: 100%;
    background-color: aliceblue;
    position: absolute;
    right: 0;
}

.memo-box > textarea {
    height: 100%;
    background-color: rgb(226, 218, 103);
}

.delete-button {
    top: 0;
    transform: translate(50%, -50%);
}

.edit-button {
    bottom: 0;
    transform: translate(50%, 50%);
}